In [1]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

# while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [5]:
sum=0
i=1

while (i<10000):
    if(i%3==0):
        sum=sum+i
    i=i+1
    
print(sum)

16668333

In [ ]:
for(i=0;i<5;i++){
    print i;
}
for i in range(5):
    print(i)

In [6]:
for i in range(10):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [1]:
a="지영"
b="예쁘다"

c=a+b
d=a*3

print(c)
print(d)

지영예쁘다
지영지영지영

In [1]:
list_data=[0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[1:8])
print(list_data[::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7]
[0, 3, 6, 9]

In [2]:
jy_friend=['박결','이은학','신해철']
jy_friend.insert(2,'주예나')
print(jy_friend.index('주예나'))

2

In [4]:
set1={1,2,3,4}
set2={1,1,2,3}
print(set1)
print(set2)

{1, 2, 3, 4}
{1, 2, 3}

In [1]:
a=[1,2,3,4]
type(a)

list

In [2]:
b=tuple(a)
print(b)
type(b)

(1, 2, 3, 4)

tuple

In [3]:
c=set(a)
print(c)
type(c)

{1, 2, 3, 4}

set

In [4]:
c

{1, 2, 3, 4}

In [2]:
jy_friend=['박결','이은학','신해철']
for jy_f in jy_friend:
    print(jy_f,end=",")

박결,이은학,신해철,

In [1]:
names=['지영','결','은학',]
scores=[100,90,92]

In [2]:
for k in range(len(names)):
    print(names[k],scores[k])

지영 100
결 90
은학 92

In [3]:
for var1, var2 in zip(names,scores):
    print(var1,var2)

지영 100
결 90
은학 92

In [6]:
numbers=[1,2,3,4,5]
square=[]

for I in numbers:
    square.append(i**2)
    
print(square)

NameError: name 'i' is not defined

In [7]:
numbers=[1,2,3,4,5]
square=[]

for i in numbers:
    square.append(i**2)
    
print(square)

[1, 4, 9, 16, 25]

In [9]:
numbers2=[1,2,3,4,5]
square2=[i**2 for i in numbers]
print(square2)

[1, 4, 9, 16, 25]

In [3]:
hi hello

SyntaxError: invalid syntax (<ipython-input-3-b51d8e0f929e>, line 1)

In [4]:
"hi hello"

'hi hello'